$blue-dark: #3b4163;
$blue-light: #4d69fa;
$blue-faded: #a1a0a0;
$blue-sky-blue: #3c5a92;

$milky-white: #f5f5f5;
$white: #ffffff;

$gray-light: #e6e6e7;
$gray-dark: #53555d;

$shadow-color: #353a59;

$black: #3e3e3f;

$yellow-light: #fece8a;
$yellow-dark: #febd72;
$brown: #ebc48e;

$green-light: #8ac657;
$green-dark: #4ea06a;

$orange: #ffba00;